
@{
    ViewData["Title"] = "API";
}

<h2>API</h2>
<br />
<p>The Job Feed API allows other sites to see Odd Jobs available with all the pertinent details.  
    Any sites interested in promoting local employment opportunities such as community organizations or 
    trade economy sites such as Craigslist can use the API to bring the feed directly into their site.</p>
<br/>

<br/>
<p><b>An example of how the feed looks can be seen here:</b></p>
<div id="api">
<script src="~/js/api_script.js"></script>
</div>
<p>
    <b>
    The script below can be incorporated into your site. Just wrap the script with a tag of your choice
    and an id of: id="api"
    </b>
</p>

<p>
    $(document).ready(function () {
    $.getJSON('http://localhost:49503/api/jobfeedapi',
    function (data) {
    var items = data;
    var ul = document.createElement('ul');

    for (i = 0; i < items.length; i++) {
    let li = document.createElement('li');
    let br1 = document.createElement('br');
    let br2 = document.createElement('br');
    let br3 = document.createElement('br');
    let br4 = document.createElement('br');

    let title = document.createTextNode("Title: " + items[i].title);
    let description = document.createTextNode("Description: " + items[i].description);
    let address = document.createTextNode("Address: " + items[i].address);
    let dateNeeded = document.createTextNode("Date Needed: " + items[i].dateNeeded);
    let dateExpired = document.createTextNode("Date Expired: " + items[i].dateExpired);

    li.appendChild(title);
    li.appendChild(br1);
    li.appendChild(description);
    li.appendChild(br2);
    li.appendChild(address);
    li.appendChild(br3);
    li.appendChild(dateNeeded);
    li.appendChild(br4);
    li.appendChild(dateExpired);

    ul.appendChild(li);
    }
    var element = document.getElementById("api");
    element.appendChild(ul);
    })
    })
</p>

