@model WebSecurityAssignment.ViewModels.JobCreateVM

@{
    ViewData["Title"] = "Create";
}
<script>

    //Needed Date

    $(document).on('click', '#hoursNPlus', function plus(e) {
        input = document.getElementById('hoursNeeded');

        if (parseInt(input.value) == 24) {
            input.value = "01"
        } else if (parseInt(input.value) < 9) {
            input.value = "0" + (parseInt(input.value) + 1);
        } else {
            input.value = parseInt(input.value) + 1;
        }

    });

    $(document).on('click', '#hoursNMinus', function plus(e) {
        input = document.getElementById('hoursNeeded');

        if (parseInt(input.value) == 01) {
            input.value = "24"
        } else if (parseInt(input.value) < 11) {
            input.value = "0" + (parseInt(input.value) - 1);
        } else {
            input.value = parseInt(input.value) - 1;
        }

    });

    $(document).on('click', '#minutesNPlus', function plus(e) {
        input = document.getElementById('minutesNeeded');

        if (parseInt(input.value) == 55) {
            input.value = "00"
        } else if (parseInt(input.value) < 5) {
            input.value = "0" + (parseInt(input.value) + 5);
        } else {
            input.value = parseInt(input.value) + 5;
        }

    });

    $(document).on('click', '#minutesNMinus', function plus(e) {
        input = document.getElementById('minutesNeeded');

        if (parseInt(input.value) == 00) {
            input.value = "55"
        } else if (parseInt(input.value) < 15) {
            input.value = "0" + (parseInt(input.value) - 5);
        } else {
            input.value = parseInt(input.value) - 5;
        }

    });

    //Expired Date

    $(document).on('click', '#hoursEPlus', function plus(e) {
        input = document.getElementById('hoursExpired');

        if (parseInt(input.value) == 24) {
            input.value = "01"
        } else if (parseInt(input.value) < 9) {
            input.value = "0" + (parseInt(input.value) + 1);
        } else {
            input.value = parseInt(input.value) + 1;
        }
        
    });

    $(document).on('click', '#hoursEMinus', function plus(e) {
        input = document.getElementById('hoursExpired');

        if (parseInt(input.value) == 01) {
            input.value = "24"
        } else if (parseInt(input.value) < 11) {
            input.value = "0" + (parseInt(input.value) - 1);
        } else {
            input.value = parseInt(input.value) - 1;
        }

    });

    $(document).on('click', '#minutesEPlus', function plus(e) {
        input = document.getElementById('minutesExpired');

        if (parseInt(input.value) == 55) {
            input.value = "00"
        } else if (parseInt(input.value) < 5) {
            input.value = "0" + (parseInt(input.value) + 5);
        } else {
            input.value = parseInt(input.value) + 5;
        }

    });

    $(document).on('click', '#minutesEMinus', function plus(e) {
        input = document.getElementById('minutesExpired');

        if (parseInt(input.value) == 00) {
            input.value = "55"
        } else if (parseInt(input.value) < 15) {
            input.value = "0" + (parseInt(input.value) - 5);
        } else {
            input.value = parseInt(input.value) - 5;
        }

    });
</script>

<h2>Create</h2>

<h4>Job</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateNeeded" class="control-label"></label>
                <input asp-for="dateNeeded" class="form-control" type="date" />
                <span asp-validation-for="dateNeeded" class="text-danger"></span>
            </div>
            <label class="control-label">Time (24-Hour)</label>
            <div class="form-group time-group">
                <input asp-for="hoursNeeded" class="form-control time-control" id="hoursNeeded" value="12" />
                <span asp-validation-for="hoursNeeded" class="text-danger"></span>
                <span class="button-span">
                    <button id="hoursNPlus" type="button">+</button>
                    <button id="hoursNMinus" type="button">-</button>
                </span><span class="twodots">:</span>
                <br />
                <input asp-for="minutesNeeded" class="form-control time-control" id="minutesNeeded" value="00" />
                <span asp-validation-for="minutesNeeded" class="text-danger"></span>
                <span class="button-span">
                    <button id="minutesNPlus" type="button">+</button>
                    <button id="minutesNMinus" type="button">-</button>
                </span>
            </div>
            <div class="form-group">
                <label class="control-label">Available Until</label>
                <input asp-for="dateExpired" class="form-control" type="date" />
                <span asp-validation-for="dateExpired" class="text-danger"></span>
            </div>
            <label class="control-label">Time (24-Hour)</label><br />
            <div class="form-group time-group">
                <input asp-for="hoursExpired" class="form-control time-control" id="hoursExpired" value="12" />
                <span asp-validation-for="hoursExpired" class="text-danger"></span>
                <span class="button-span">
                    <button id="hoursEPlus" type="button">+</button>
                    <button id="hoursEMinus" type="button">-</button>
                </span><span class="twodots">:</span>
                <br />
                <input asp-for="minutesExpired" class="form-control time-control" id="minutesExpired" value="00" />
                <span asp-validation-for="minutesExpired" class="text-danger"></span>
                <span class="button-span">
                    <button id="minutesEPlus" type="button">+</button>
                    <button id="minutesEMinus" type="button">-</button>
                </span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Province" class="control-label"></label>
                <input asp-for="Province" class="form-control" />
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
