@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="row">
    <br />
    <div class="col-md-4">
        <section>
            <form method="post">
                <br />
                <h2>Login</h2>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
                <div class="form-group">

                    <p>
                        <a class="btn btn-primary" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>

                  



                </div>
            </form>
        </section>

    </div>

        <div class="col-md-6 col-md-offset-2">
            <section>
                <p>
                    <br />
                    <h2>Welcome to Odd Job &nbsp <img src="http://clipart-library.com/images/piq8qyGyT.jpg" width="64" height="40" /></a></h2>
                    <hr />

                    <br />
                    <h2>Post & Find Odd Jobs In Your Community</h2>
                    <br />
                    <ul>
                        <li><h4>Post jobs that you need done </h4></li>
                        <li><h4>Find odd jobs to make extra cash </h4></li>
                        <li><h4>Have your payments handled by a third party</h4></li>
                    </ul>
                </p>
                <br />
                <p>
                    <h2>Don't have an account?</h2>
                    <a class="btn btn-primary" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>
                
            </section>
        </div>



    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

